# Ignore the sumo folder
sumo/

# Ignore common system files
.DS_Store
Thumbs.db

# Ignore Python cache files (if applicable)
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files and temporary files
*.log
*.tmp
